{% extends "home/home.html" %}
{% block title %}Home{% endblock title %}

    {% block event %}
        <section class='grid grid-cols-12'>
            <div class='col-span-4 pt-20 pl-10'>
                <form action="" class="-space-x-1">
                    <select class="w-1/2 px-4 py-2 border border-r-0 rounded-l">
                        <option>Personal</option>
                        <option>Social</option>
                        <option>Business</option>
                    </select>
                    <button class="text-white bg-[#F4A492] px-2 py-2 rounded-r -right-2 border border-r-0" type="submit">Submit</button>
                </form>
            </div>
            <div class='col-span-8 grid grid-cols-2 gap-4 py-8'>
                <div class="card card-side shadow-xl rounded-lg bg-[#F5E9D4]">                       
                    <div class="card-body">
                        <h2 class="card-title">The Innovation Summit</h2>
                            <div className="flex items-center justify-between">
                                <div class="flex">
                                    <div class="px-2 py-1 text-sm font-medium bg-[#FFFFFF] rounded">Category</div>
                                </div>
                            </div>
                            <p class="text-justify">A Hub for Visionaries
                                The Innovation Summit is a dynamic event where industry leaders, visionaries, and innovators converge to explore and discuss groundbreaking ideas, technologies, and trends shaping the future.                               
                            </p>
                            <div class="flex justify-between items-center">
                                <div>
                                    <p>2 Feb 2025</p>
                                </div>
                                <div>
                                    <button class="bg-[#F4A492] text-white rounded-lg px-4 py-2">Details</button>
                                </div>
                            </div>
                    </div>
                </div>                    
                <div class="card card-side shadow-xl rounded-lg bg-[#F5E9D4]">                       
                    <div class="card-body">
                        <h2 class="card-title">The Innovation Summit</h2>
                            <div className="flex items-center justify-between">
                                <div class="flex">
                                    <div class="px-2 py-1 text-sm font-medium bg-[#FFFFFF] rounded">Category</div>
                                </div>
                            </div>
                            <p class="text-justify">A Hub for Visionaries
                                The Innovation Summit is a dynamic event where industry leaders, visionaries, and innovators converge to explore and discuss groundbreaking ideas, technologies, and trends shaping the future.                               
                            </p>
                            <div class="flex justify-between items-center">
                                <div>
                                    <p>2 Feb 2025</p>
                                </div>
                                <div>
                                    <button class="text-white bg-[#F4A492] rounded-lg px-4 py-2">Details</button>
                                </div>
                            </div>
                    </div>
                </div>                    
                <div class="card card-side shadow-xl rounded-lg bg-[#F5E9D4]">                       
                    <div class="card-body">
                        <h2 class="card-title">The Innovation Summit</h2>
                            <div className="flex items-center justify-between">
                                <div class="flex">
                                    <div class="px-2 py-1 text-sm font-medium bg-[#FFFFFF] rounded">Category</div>
                                </div>
                            </div>
                            <p class="text-justify">A Hub for Visionaries
                                The Innovation Summit is a dynamic event where industry leaders, visionaries, and innovators converge to explore and discuss groundbreaking ideas, technologies, and trends shaping the future.                               
                            </p>
                            <div class="flex justify-between items-center">
                                <div>
                                    <p>2 Feb 2025</p>
                                </div>
                                <div>
                                    <button class="text-white bg-[#F4A492] rounded-lg px-4 py-2">Details</button>
                                </div>
                            </div>
                    </div>
                </div>                    
            </div>

        </section>

    {% endblock event %}